/* Navbar */
.site-navbar {
    font-family: 'Fira Sans', sans-serif;
     background: #fff;
     z-index: 1999;
     position: relative; }
     .site-navbar.transparent {
       background: transparent; }
     .site-navbar a {
       color: #FFFFFF; }
       .site-navbar a:hover {
         color: #FFFFFF; }
     .site-navbar .site-navigation.border-bottom {
       border-bottom: 1px solid #f3f3f4 !important; }
     .site-navbar .site-navigation .site-menu {
       margin-bottom: 0; }
       .site-navbar .site-navigation .site-menu .active > a {
         color: #dfdbbd; }
       .site-navbar .site-navigation .site-menu a {
         text-decoration: none !important;
         font-size: 13px;
         display: inline-block; }
       .site-navbar .site-navigation .site-menu > li {
         display: inline-block;
         padding: 10px 5px; }
         .site-navbar .site-navigation .site-menu > li > a {
           padding: 10px 10px;
           text-transform: uppercase;
           letter-spacing: .05em;
           color: #25262a;
           font-size: 13px;
           text-decoration: none !important; }
           .site-navbar .site-navigation .site-menu > li > a:hover {
             color: #dfdbbd; }
           .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
             color: #dfdbbd !important; }
           .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
             list-style: none;
             padding: 0;
             margin: 0;
             min-width: 200px; }
             .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
               padding: 9px 20px;
               display: block; }
               .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
                 background: #f4f5f9;
                 color: #B5B5B5; }
             .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
               content: "\e315";
               right: 20px; }
             .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
               left: 100%;
               top: 0; }
             .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
               background: #f4f5f9;
               color: #B5B5B5; }
         .site-navbar .site-navigation .site-menu .has-children a {
           text-transform: uppercase; }
         .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
           cursor: pointer; }

.body{
  padding-top: 50px;
  background: #2d3b45;
}

.contain {
  width: 1200px;
  color: #2d3b45;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 100px;
}

.contain .box{
  position: relative;
  width: 350px;
  height: 380px;
  background: #ff0;
  margin-left: 125px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  display: inline-block;
}

.contain .box .imgbox{
  position: relative;
  overflow: hidden;
}

.contain .box .imgbox img{
  max-width: 100%;
  transition: transform 1s;
}

.contain .box:hover .imgbox img{
  transform: scale(1.1);
}

.contain .box .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10;
  padding-right: 127px;
  padding-left: 200px;
  background: rgba(45, 59, 69, .5);
}

.iconfooter{
  position: absolute;
  top: 130px;
  left: 130px;
  right: 155;
  bottom: 150px;
}

.contain .box .details p{
  color: #FFFFFF;
  position: absolute;
  top: 270px;
  left: 137px;
  right: 140;
  bottom: 10px;
}

.contain .box .details .cyraliving{
  color: #FFFFFF;
  position: absolute;
  top: 270px;
  left: 120px;
  right: 140;
  bottom: 10px;
}

.contain .box .details .event{
  color: #FFFFFF;
  position: absolute;
  top: 270px;
  left: 95px;
  right: 140;
  bottom: 10px;
}

  .accessories{
    position: absolute;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 200;
    color: #FFFFFF;
    top: 200px;
    left: 90px;
    right: 50;
    bottom: 150px;
  }
  .chair{
    position: absolute;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 200;
    color: #FFFFFF;
    top: 200px;
    left: 130px;
    right: 155;
    bottom: 150px;
  }
  .mirror{
    position: absolute;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 200;
    color: #FFFFFF;
    top: 200px;
    left: 120px;
    right: 155;
    bottom: 150px;
  }
  .table{
    position: absolute;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 200;
    color: #FFFFFF;
    top: 200px;
    left: 135px;
    right: 155;
    bottom: 150px;
  }

  /* Product Lamp */
  
  .section{
    background-color: #ffffff;
    padding-top: 200px;
  }
  
  .productlamp{
   position: relative;
   z-index: 2001;
   margin-top: 200px;
  }
  .content{
    margin-top: 20px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    line-height: 80%;
  }
    .content .namaproduk{
      font-weight: bold;
    }

.menubawah{
  z-index: 20;
  margin-top: 80px;
  margin-right: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
  .menubawah a p{
    font-family: 'Fira Sans', sans-serif;
    color: #000000;
    text-transform: uppercase;
    font-size: 11px;
  }

/* Sinawang Lamp */

.sinawanglamp{
  margin-top: 180px;

}
.sinawanglamp h6{
  font-family: 'Fira Sans', sans-serif;
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 16px;
}
.sinawanglamp p{
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  margin-bottom: 40px;
  letter-spacing: .05em;
}
.sinawanglamp h6 span{
  font-family: 'Fira Sans', sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
}

.tomboladd{
  color: #fff;
  margin: 3em auto;
  border-radius: 500px;
  background-color:#c58742;
  margin-left: 55%;
  margin-top: 50px;
}

.menubawahsinawang{
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
}
  .menubawahsinawang a p{
    font-family: 'Fira Sans', sans-serif;
    color: #000000;
    text-transform: uppercase;
    font-size: 11px;
  }

